{% extends "layout.html" %}
{%block course%}

<DIV TYPE=HEADER>
	<P CLASS="western" STYLE="margin-bottom: 0.4in; line-height: 5%"><SPAN DIR="LTR" STYLE="position: relative; top: 0.48in; left: 0.99in; width: 2.32in; height: 0.21in; border: none; padding: 0in; background: #ffffff">
		<P STYLE="margin-left: 0.01in; margin-top: 0.01in"><FONT SIZE=3>Module
		1 - Introduction to Python</FONT></P>
	</SPAN><BR>
	</P>
</DIV>

<H1 CLASS="western" STYLE="page-break-before: always"><BR CLEAR=LEFT><FONT COLOR="#17365d">Expressions</FONT></H1>


<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
A Python program contains one or more statements. A statement
contains zero or more expressions. Python executes a statement by
evaluating its expressions to values one by one. Python evaluates an
expression by evaluating the sub-expressions and substituting their
values.</P>
<P CLASS="western"><BR>
</P>
<H4 CLASS="western"><FONT COLOR="#4f81bc">Literal Expressions</FONT></H4>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in">A literal expression
evaluates to the value it represents. Following are some examples of
literal expressions:</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.29in">10 =&gt; 10</P>
<P CLASS="western" STYLE="margin-left: 0.29in; margin-right: 3.41in">„Welcome
to Python‟ =&gt; „Welcome to Python‟ 7.89 =&gt; 7.89</P>
<P CLASS="western" STYLE="margin-left: 0.29in">True =&gt; True</P>
<P CLASS="western"><BR>
</P>
<H4 CLASS="western"><FONT COLOR="#4f81bc">Binary Expressions</FONT></H4>
<P CLASS="western" STYLE="margin-left: 0.29in; margin-right: 0.41in; text-indent: -0.2in; margin-top: 0.03in; line-height: 0.35in">
A binary expression consists of a binary operator applied to two
operand expressions. Examples: 2*6 =&gt; 12</P>
<P CLASS="western" STYLE="margin-left: 0.29in; margin-top: 0in; line-height: 0.18in">
8-6 =&gt; 2</P>
<P CLASS="western" STYLE="margin-left: 0.29in; line-height: 0.18in">8==8
=&gt; True</P>
<P CLASS="western" STYLE="margin-left: 0.29in">1000 &gt; 100 =&gt;
True</P>
<P CLASS="western" STYLE="margin-left: 0.29in; margin-top: 0.06in; page-break-before: always">
„hello‟ + „world‟ =&gt; „helloworld‟</P>
<P CLASS="western"><BR>
</P>
<H4 CLASS="western" ALIGN=JUSTIFY><FONT COLOR="#4f81bc">Unary
Expressions</FONT></H4>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in">An unary
expression contains one operator and single operand. Examples:</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.29in">-(5/5) =&gt; -1</P>
<P CLASS="western" STYLE="margin-left: 0.29in; margin-top: 0in">-(3*4)
=&gt; -12</P>
<P CLASS="western" STYLE="margin-left: 0.29in; line-height: 0.18in">-(2**4)
=&gt; -16</P>
<P CLASS="western" STYLE="margin-left: 0.29in; line-height: 0.18in">-10
=&gt; -10</P>
<P CLASS="western"><BR>
</P>
<H4 CLASS="western" ALIGN=JUSTIFY><FONT COLOR="#4f81bc">Compound
Expressions</FONT></H4>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in">In a binary or unary
expression, if an operand itself is an expression, such expression is
known as a compound expression. Examples:</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.29in">3 * 2 + 1 =&gt; 7</P>
<P CLASS="western" STYLE="margin-left: 0.29in">2 + 6 * 2 =&gt; 14</P>
<P CLASS="western" STYLE="margin-left: 0.29in">(2 + 6) * 2 =&gt; 16</P>
<P CLASS="western"><BR>
</P>
<H4 CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.12in"><FONT COLOR="#4f81bc">Variable
Access Expressions</FONT></H4>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in">A
variable access expressions allows us to access the value of a
variable. Examples:</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.29in; line-height: 0.18in">&gt;&gt;&gt;x
= 10</P>
<P CLASS="western" STYLE="margin-left: 0.29in; line-height: 0.18in">&gt;&gt;&gt;(x
+ 2) * 4</P>
<P CLASS="western" STYLE="margin-left: 0.29in">48</P>
<P CLASS="western" STYLE="margin-left: 0.29in; margin-right: 5.95in; margin-top: 0in">
&gt;&gt;&gt;x 10</P>
{%endblock course%}
