{% extends "layout.html" %}
{%block course%}
<DIV TYPE=HEADER>
	<P CLASS="western" STYLE="margin-bottom: 0.4in; line-height: 5%"><SPAN DIR="LTR" STYLE="position: relative; top: 0.48in; left: 0.99in; width: 2.32in; height: 0.21in; border: none; padding: 0in; background: #ffffff">
		<P STYLE="margin-left: 0.01in; margin-top: 0.01in"><FONT SIZE=3>Module
		1 - Introduction to Python</FONT></P>
	</SPAN><BR>
	</P>
</DIV>
<DIV ID="TextSection" DIR="LTR">
	<H1 CLASS="western"><BR CLEAR=LEFT><FONT COLOR="#17365d">Introduction
	to Python</FONT></H1>
	<P CLASS="western" STYLE="margin-top: 0in"><BR>
	</P>
	<H3 CLASS="western" STYLE="margin-top: 0.07in"><FONT COLOR="#4f81bc">What
	is Python?</FONT></H3>
	<P CLASS="western" STYLE="margin-top: 0in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0in">Python
	is a multi-paradigm high-level general purpose scripting language.</P>
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.25in">Python
	supports multiple programming paradigms (models) like structured
	programming, object- oriented programming, and functional
	programming. So, it is called a multi-paradigm language.</P>
	<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.25in">Python
	is user friendly and can be used to develop application software
	like text editors, music players, etc. So, it is called a high-level
	language.</P>
	<P CLASS="western" STYLE="margin-top: 0in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.25in">Python
	has several built-in libraries. There are also many third-party
	libraries. With the help of all these libraries we develop almost
	anything with Python. So, it is called a general purpose language.</P>
	<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.1in">Finally, Python
	programs are executed line by line (interpreted). So, it is called a
	scripting language.</P>
	<P CLASS="western"><BR>
	</P>
	<H3 CLASS="western"><FONT COLOR="#4f81bc">Who Created Python?</FONT></H3>
	<P CLASS="western" STYLE="margin-top: 0in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.25in">Python
	was created by Guido Van Rossum. He worked at Google from 2005-2012.
	From 2013 onwards he is working at Dropbox.</P>
	<P CLASS="western" STYLE="margin-top: 0in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.25in">Guido
	Van Rossum was fond of a British comedian group named Monty Python.
	Their BBC series was Flying Circus. Rossum named the language after
	them (Monty Python).</P>
	<P CLASS="western"><BR>
	</P>
	<H3 CLASS="western" ALIGN=JUSTIFY><FONT COLOR="#4f81bc">History of
	Python</FONT></H3>
	<P CLASS="western" STYLE="margin-top: 0in"><BR>
	</P>
	<UL>
		<LI><P STYLE="line-height: 100%">Python implementation began in
		1989.</P>
		<LI><P STYLE="line-height: 0.18in">Python is a successor to ABC
		language (itself inspired by SETL).</P>
		<LI><P STYLE="line-height: 0.18in">First official release on 20 Feb
		1991.</P>
		<LI><P STYLE="margin-top: 0in; line-height: 0.18in">Python 2.0 was
		released on 16 Oct 2000.</P>
		<LI><P STYLE="line-height: 0.18in">Python 3.0 was released on 3 Dec
		2008.</P>
		<LI><P STYLE="line-height: 100%">Latest stable release is Python
		3.6.1 released in Mar. 2017.</P>
	</UL>
	<P CLASS="western"><BR>
	</P>
	<H3 CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.13in"><FONT COLOR="#4f81bc">Need
	for Python Programming</FONT></H3>
	<P CLASS="western" STYLE="margin-top: 0in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0in">
	Following are some of the main reasons for learning Python language:</P>
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
	<B>Software quality: </B>Python code is designed to be readable, and
	hence reusable and maintainable much more than traditional scripting
	languages. Python has deep support for more advanced software reuse
	mechanisms, such as object-oriented (OO) and function programming.</P>
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.25in"><B>Developer
	productivity: </B>Python code is typically one-third to one-fifth
	the size of equivalent C++ or Java code. That means there is less to
	type, less to debug, and less to maintain after the fact.</P>
	<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
	</P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.23in">
	<B>Program portability: </B>Most Python programs run unchanged on
	all major computer platforms. Porting Python code between Linux and
	Windows, for example, is usually just a matter of copying a script‘s
	code between machines.</P>
</DIV>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in; margin-top: 0.06in; page-break-before: always">
<B>Support Libraries: </B>Python comes with a large collection of
prebuilt and portable functionality, known as the standard library.
This library supports an array of application-level programming
tasks, from text pattern matching to network scripting.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
Python‘s third-party domain offers tools for website construction,
numeric programming, serial port access, game development, and much
more. The NumPy extension, for instance, has been described as a free
and more powerful equivalent to the Matlab numeric programming
system.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
<B>Component Integration: </B>Python scripts can easily communicate
with other parts of an application, using a variety of integration
mechanisms. Python code can invoke C and C++ libraries, can be called
from C and C++ programs, can integrate with Java and .NET components.</P>
<P CLASS="western"><BR>
</P>
<H3 CLASS="western" ALIGN=JUSTIFY><FONT COLOR="#4f81bc">Applications
of Python</FONT></H3>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
<B>Systems Programming: </B>Python‘s built-in interfaces to
operating-system services make it ideal for writing portable,
maintainable system-administration tools and utilities (sometimes
called shell tools). Python programs can search files and directory
trees, launch other programs, do parallel processing with processes
and threads, and so on.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
<B>GUIs: </B>Python‘s simplicity and rapid turnaround also make it
a good match for graphical user interface programming on the desktop.
Python comes with a standard object-oriented interface to the Tk GUI
API called tkinter (Tkinter in 2.X) that allows Python programs to
implement portable GUIs with a native look and feel.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
<B>Internet Scripting: </B>Python comes with standard Internet
modules that allow Python programs to perform a wide variety of
networking tasks, in client and server modes. Scripts can communicate
over sockets; extract form information sent to server-side CGI
scripts; transfer files by FTP; parse and generate XML and JSON
documents; send, receive, compose, and parse email; fetch web pages
by URLs; parse the HTML of fetched web pages; communicate over
XML-RPC, SOAP, and Telnet; and more. Python‘s libraries make these
tasks remarkably simple.</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
<B>Component Integration: </B>Python‘s ability to be extended by
and embedded in C and C++ systems makes it useful as a flexible glue
language for scripting the behavior of other systems and components.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.23in">
Tools such as the SWIG and SIP code generators can automate much of
the work needed to link compiled components into Python for use in
scripts, and the Cython system allows coders to mix Python and C-like
code.</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
<B>Database Programming: </B>For traditional database demands, there
are Python interfaces to all commonly used relational database
systems like Sybase, Oracle, Informix, ODBC, MySQL, PostgreSQL,
SQLite, and more. The Python world has also defined a portable
database API for accessing SQL database systems from Python scripts,
which looks the same on a variety of underlying database systems.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
In the non-SQL department, Python‘s standard pickle module provides
a simple object persistence system—it allows programs to easily
save and restore entire Python objects to files and file-like
objects.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
<B>Rapid Prototyping: </B>To Python programs, components written in
Python and C look the same. Because of this, it‘s possible to
prototype systems in Python initially, and then move selected
components to a compiled language such as C or C++ for delivery.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in; margin-top: 0.06in; page-break-before: always">
<B>Numeric and Scientific Computing: </B>Python is also heavily used
in numeric programming. Prominent here, the NumPy high-performance
numeric programming extension for Python includes such advanced tools
as an array object, interfaces to standard mathematical libraries,
and much more.</P>
<P CLASS="western"><BR>
</P>
<H3 CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.13in"><FONT COLOR="#4f81bc">Features
of Python</FONT></H3>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in; margin-top: 0in">
<B>Object Oriented and Functional: </B>Python is an object-oriented
language, from the ground up. Its class model supports advanced
notions such as polymorphism, operator overloading, and multiple
inheritance; yet, in the context of Python‘s simple syntax and
typing, OOP is remarkably easy to apply. Much like C++, Python
supports both procedural and object-oriented programming modes.</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
Python in recent years has acquired built-in support for functional
programming—a set that by most measures includes generators,
comprehensions, closures, maps, decorators, anonymous function
lambdas, and first-class function objects.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
<B>Free: </B>Python is completely free to use and distribute. As with
other open source software, such as  Tcl, Perl, Linux, and Apache,
you can fetch the entire Python system‘s source code for free on
the Internet. There are no restrictions on copying it, embedding it
in your systems, or shipping it with your products. In fact, you can
even sell Python‘s source code, if you are so inclined.</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
<B>Portable: </B>The standard implementation of Python is written in
portable ANSI C, and it compiles and runs on virtually every major
platform currently in use. For example, Python programs run today on
everything from PDAs to supercomputers.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
<B>Powerful: </B>Python provides all the simplicity and ease of use
of a scripting language, along with more advanced
software-engineering tools typically found in compiled languages.
Unlike some scripting languages, this combination makes Python useful
for large-scale development projects. Some of the reasons why Python
is powerful are: dynamic typing, automatic memory management,
built-in object types, etc.</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
<B>Mixable: </B>Python programs can easily be combined with
components written in other languages in a variety of ways. For
example, Python‘s C API lets C programs call and be called by
Python programs flexibly. That means you can add functionality to the
Python system as needed, and use Python programs within other
environments or systems.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
<B>Easy to Use: </B>Compared to alternatives like C++, Java, and C#,
Python programming seems astonishingly simple to most observers. To
run a Python program, you simply type it and run it. There are no
intermediate compile and link steps, like there are for languages
such as C or C++.</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
<B>Easy to Learn: </B>When compared to other widely used programming
languages, the core Python language is remarkably easy to learn. In
fact, if you‘re an experienced programmer, you can expect to be
coding small-scale Python programs in a matter of days, and may be
able to pick up some limited portions of the language in just hours.</P>
<P CLASS="western"><BR>
</P>
<H3 CLASS="western" ALIGN=JUSTIFY><FONT COLOR="#4f81bc">Python Shell
(REPL)</FONT></H3>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in">
Python‘s interactive command line or shell, sometimes is called as
interactive prompt. The interactive prompt follows REPL
(Repeat-Evaluate-Print-Loop). There are a variety of ways to start
this command line: in an IDE, from a system console, and so on.
Assuming the interpreter is installed as an executable program on
your system, the most platform-neutral way to start an interactive
interpreter session is usually just to type python at your operating
system‘s prompt, without any arguments.</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in; margin-top: 0.06in">
On Windows, you can type <B>python </B>or <B>py </B>in a DOS console
window - a program named cmd.exe and usually known as Command Prompt.
On Linux (and other Unixes), you might type this command in a shell
or terminal window.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.23in">
The Python interactive session begins by printing two lines of
informational text giving the Python version number and other
information, then prompts for input with &gt;&gt;&gt; when it‘s
waiting for you to type a new Python statement or expression.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.41in">When
working interactively, the results of your code are displayed below
the &gt;&gt;&gt; input lines after you press the Enter key. For
instance, here are the results of two Python print statements:</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0in">%
python</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.18in">&gt;&gt;&gt;
print('Hello world!') Hello world!</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 5.41in">&gt;&gt;&gt;
print(2 ** 8) 256</P>
<P CLASS="western"><BR>
</P>
<H3 CLASS="western"><FONT COLOR="#4f81bc">Running Python Scripts</FONT></H3>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.25in">A
Python script is a file containing multiple lines of Python code
saved with <I>.py </I>extension. A Python script can be directly
executed line by line without any need to compile it.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.22in; margin-top: 0in">
Open your favourite text editor (e.g., vi, Notepad, or the IDLE
editor), type the following statements into a new text file named
script1.py, and save it in your working code directory that you set
up earlier:</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 4.44in">#
A first Python script import sys print(sys.platform)</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 5.55in; margin-top: 0in">
print(2 ** 100) x = 'Spam!' print(x * 8)</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in">Once you‘ve saved
this text file, you can ask Python to run it by listing its full
filename as the first argument to a python command like the following
typed at the system shell prompt:</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 5.24in">%
python script1.py win32</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.18in">1267650600228229401496703205376</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0in">Spam!Spam!Spam!Spam!Spam!Spam!Spam!Spam!</P>
<P CLASS="western"><BR>
</P>
<H3 CLASS="western"><FONT COLOR="#4f81bc">Input and Output</FONT></H3>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 2.25in; line-height: 200%">
For accepting input from keyboard, we use <I>input </I>function as
follows: input(―String to be displayed...‖)</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.06in; page-break-before: always">
The <I>input </I>function returns back a string to the script. To
work with numbers, we have to convert the returned string into number
as follows:</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in">x = int(input(―Enter
a number: ‖))</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 1.48in; line-height: 200%">
To print output to the standard output (terminal window), we use
print as follows: print(―Message to print...‖)</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.18in">Some
examples of using print function:</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in">print(―Welcome to
Python‖)</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 3.85in">print(―Sum
of ‖, x, ― and ‖, y, ―is: ‖, (x+y)) print(―hello‖,
end=‗ ‘)</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.18in">print(―world‖)</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in">Last two print
statements will print ―hello world‖ in a single line.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.25in">The
<I>print </I>functions prints to standard output stream <I>stdout
</I>which is available in <I>sys </I>module. Another way to print
output is as follows:</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 4.4in">import
sys sys.stdout.write(―Python Rocks!‖)</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in">Three standard streams
are: <I>stdin, stdout, </I>and <I>stderr</I>.</P>


{%endblock course%}
