{% extends "layout.html" %}
{%block course%}
<DIV TYPE=HEADER>
	<P CLASS="western" STYLE="margin-bottom: 0.4in; line-height: 5%"><SPAN DIR="LTR" STYLE="position: relative; top: 0.48in; left: 0.99in; width: 2.32in; height: 0.21in; border: none; padding: 0in; background: #ffffff">
		<P STYLE="margin-left: 0.01in; margin-top: 0.01in"><FONT SIZE=3>Module
		1 - Introduction to Python</FONT></P>
	</SPAN><BR>
	</P>
</DIV>
<H1 CLASS="western" STYLE="page-break-before: always"><BR CLEAR=LEFT><FONT COLOR="#17365d">
Operators</FONT></H1>

<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in">Following
are different types of operators in Python:</P>
<P CLASS="western"><BR>
</P>
<UL>
	<LI><P STYLE="line-height: 0.19in">Arithmetic operators</P>
	<LI><P STYLE="line-height: 0.19in">Relational operators</P>
	<LI><P STYLE="line-height: 0.19in">Assignment operators</P>
	<LI><P STYLE="line-height: 0.19in">Logical operators</P>
	<LI><P STYLE="line-height: 0.19in">Bitwise operators</P>
	<LI><P STYLE="line-height: 0.19in">Membership operators</P>
	<LI><P STYLE="line-height: 0.19in">Identity operators</P>
</UL>
<P CLASS="western"><BR>
</P>
<H4 CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.11in"><FONT COLOR="#4f81bc">Arithmetic
Operators</FONT></H4>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in">Following
are various arithmetic operators available in Python:</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<TABLE WIDTH=599 CELLPADDING=1 CELLSPACING=0>
	<COL WIDTH=86>
	<COL WIDTH=346>
	<COL WIDTH=160>
	<TR VALIGN=TOP>
		<TD WIDTH=86 HEIGHT=24 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in"><B>Operator</B></P>
		</TD>
		<TD WIDTH=346 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in"><B>Description</B></P>
		</TD>
		<TD WIDTH=160 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in"><B>Example</B></P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western" STYLE="page-break-before: always"><BR>
</P>
<TABLE WIDTH=599 CELLPADDING=1 CELLSPACING=0>
	<COL WIDTH=86>
	<COL WIDTH=346>
	<COL WIDTH=160>
	<TR VALIGN=TOP>
		<TD WIDTH=86 HEIGHT=25 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">+</P>
		</TD>
		<TD WIDTH=346 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">Add two operands</P>
		</TD>
		<TD WIDTH=160 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">x+y = 26</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=86 HEIGHT=26 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">-</P>
		</TD>
		<TD WIDTH=346 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">Subtract one
			operand from another</P>
		</TD>
		<TD WIDTH=160 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">x-y = 14</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=86 HEIGHT=26 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">*</P>
		</TD>
		<TD WIDTH=346 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">Multiply one
			operand with another</P>
		</TD>
		<TD WIDTH=160 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">x*y = 120</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=86 HEIGHT=26 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">/</P>
		</TD>
		<TD WIDTH=346 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">Divide one
			operand with another</P>
		</TD>
		<TD WIDTH=160 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">x/y = 3.333</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=86 HEIGHT=26 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">%</P>
		</TD>
		<TD WIDTH=346 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">Remainder of
			division between two operands</P>
		</TD>
		<TD WIDTH=160 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">x%y = 2</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=86 HEIGHT=26 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">**</P>
		</TD>
		<TD WIDTH=346 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">x to the power
			of y</P>
		</TD>
		<TD WIDTH=160 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">x**y = 64000000</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=86 HEIGHT=25 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">//</P>
		</TD>
		<TD WIDTH=346 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">Floor division.
			Removes decimal part after division.</P>
		</TD>
		<TD WIDTH=160 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">x//y = 3</P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.06in"><I>Note:
In above examples, x = 20 and y = 6</I></P>
<P CLASS="western"><BR>
</P>
<H4 CLASS="western" STYLE="margin-top: 0.12in"><FONT COLOR="#4f81bc">Relational
Operators</FONT></H4>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0in">Following
are various relational operators available in Python:</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<TABLE WIDTH=591 CELLPADDING=1 CELLSPACING=0>
	<COL WIDTH=86>
	<COL WIDTH=387>
	<COL WIDTH=111>
	<TR VALIGN=TOP>
		<TD WIDTH=86 HEIGHT=23 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in"><B>Operator</B></P>
		</TD>
		<TD WIDTH=387 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in"><B>Description</B></P>
		</TD>
		<TD WIDTH=111 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in"><B>Example</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=86 HEIGHT=41 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">= =</P>
		</TD>
		<TD WIDTH=387 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">Returns true if
			values of both operands are equal . Otherwise false.</P>
		</TD>
		<TD WIDTH=111 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">x==y is false</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=86 HEIGHT=41 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">!=</P>
		</TD>
		<TD WIDTH=387 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-right: 0.09in; margin-top: 0.05in">
			Returns true if values of both operands are not equal. Otherwise
			false.</P>
		</TD>
		<TD WIDTH=111 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">x!=y is true</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=86 HEIGHT=41 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">&lt; &gt;</P>
		</TD>
		<TD WIDTH=387 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-right: 0.09in; margin-top: 0.05in">
			Returns true if values of both operands are not equal. Otherwise
			false.</P>
		</TD>
		<TD WIDTH=111 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">x!=y is true</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=86 HEIGHT=41 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">&gt;</P>
		</TD>
		<TD WIDTH=387 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">Returns true if
			left operand is greater than the right operand. Otherwise false.</P>
		</TD>
		<TD WIDTH=111 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">x&gt;y is true</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=86 HEIGHT=41 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">&lt;</P>
		</TD>
		<TD WIDTH=387 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">Returns true if
			left operand is less than the right operand. Otherwise false.</P>
		</TD>
		<TD WIDTH=111 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">x&lt;y is false</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=86 HEIGHT=41 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">&gt;=</P>
		</TD>
		<TD WIDTH=387 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">Returns true if
			left operand is greater than or equal to the right operand.
			Otherwise false.</P>
		</TD>
		<TD WIDTH=111 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">x&gt;=y is true</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=86 HEIGHT=40 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">&lt;=</P>
		</TD>
		<TD WIDTH=387 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">Returns true if
			left operand is less than or equal to the right operand. Otherwise
			false.</P>
		</TD>
		<TD WIDTH=111 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">x&lt;=y is false</P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in"><I>Note: In above
examples, x = 20 and y = 6</I></P>
<P CLASS="western"><BR>
</P>
<H4 CLASS="western" STYLE="margin-top: 0.12in"><FONT COLOR="#4f81bc">Assignment
Operators</FONT></H4>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in">Following are various
assignment operators available in Python:</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<TABLE WIDTH=611 CELLPADDING=1 CELLSPACING=0>
	<COL WIDTH=75>
	<COL WIDTH=391>
	<COL WIDTH=138>
	<TR VALIGN=TOP>
		<TD WIDTH=75 HEIGHT=23 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in"><B>Operator</B></P>
		</TD>
		<TD WIDTH=391 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in"><B>Description</B></P>
		</TD>
		<TD WIDTH=138 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in"><B>Example</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=75 HEIGHT=24 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">=</P>
		</TD>
		<TD WIDTH=391 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">Assigns value of
			right side operand to left side operand</P>
		</TD>
		<TD WIDTH=138 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">z=x; z=20</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=75 HEIGHT=40 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">+=</P>
		</TD>
		<TD WIDTH=391 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-right: 0.08in; margin-top: 0.05in">
			Adds operand on left side with operand on right side and assigns
			the value to left side operand.</P>
		</TD>
		<TD WIDTH=138 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">z+=x; z=20</P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western" STYLE="page-break-before: always"><BR>
</P>
<TABLE WIDTH=611 CELLPADDING=1 CELLSPACING=0>
	<COL WIDTH=75>
	<COL WIDTH=391>
	<COL WIDTH=138>
	<TR VALIGN=TOP>
		<TD WIDTH=75 HEIGHT=40 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">-=</P>
		</TD>
		<TD WIDTH=391 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">Subtracts
			operand on right side with operand on left side and assigns the
			value to left side operand.</P>
		</TD>
		<TD WIDTH=138 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">z-=x; z=-20</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=75 HEIGHT=41 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">*=</P>
		</TD>
		<TD WIDTH=391 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">Multiplies
			operand on left side with operand on right side and assigns the
			value to left side operand.</P>
		</TD>
		<TD WIDTH=138 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">z*=x; z=0</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=75 HEIGHT=41 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">/=</P>
		</TD>
		<TD WIDTH=391 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">Divide operand
			on left side with operand on right side and assigns the value to
			left side operand.</P>
		</TD>
		<TD WIDTH=138 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">z/=x; z=0.0</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=75 HEIGHT=24 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">%=</P>
		</TD>
		<TD WIDTH=391 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">Assigns
			remainder of division to left side operand.</P>
		</TD>
		<TD WIDTH=138 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">z%=x; z=0</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=75 HEIGHT=24 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">**=</P>
		</TD>
		<TD WIDTH=391 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">Assigns left
			operand power right operand to left side operand.</P>
		</TD>
		<TD WIDTH=138 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">z**=x; z=0</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=75 HEIGHT=23 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">//=</P>
		</TD>
		<TD WIDTH=391 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">Assigns result
			of floor division to left side operand.</P>
		</TD>
		<TD WIDTH=138 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">z//=x; z=0</P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.06in"><I>Note:
In above examples, x = 20 , y = 6, and z = 0</I></P>
<P CLASS="western"><BR>
</P>
<H4 CLASS="western" STYLE="margin-top: 0.12in"><FONT COLOR="#4f81bc">Bitwise
Operators</FONT></H4>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0in">Following
are various bitwise operators available in Python:</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<TABLE WIDTH=612 CELLPADDING=1 CELLSPACING=0>
	<COL WIDTH=96>
	<COL WIDTH=391>
	<COL WIDTH=117>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=25 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in"><B>Operator</B></P>
		</TD>
		<TD WIDTH=391 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in"><B>Description</B></P>
		</TD>
		<TD WIDTH=117 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in"><B>Example</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=26 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">&amp; (and)</P>
		</TD>
		<TD WIDTH=391 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">Performs
			bit-wise and of both operands</P>
		</TD>
		<TD WIDTH=117 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">x&amp;y = 1</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=26 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">| (or)</P>
		</TD>
		<TD WIDTH=391 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">Performs
			bit-wise or of both operands</P>
		</TD>
		<TD WIDTH=117 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">x|y = 5</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=27 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">^ (ex-or)</P>
		</TD>
		<TD WIDTH=391 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">Performs
			exclusive-or of both operands</P>
		</TD>
		<TD WIDTH=117 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">x^y = 4</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=26 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">~</P>
		</TD>
		<TD WIDTH=391 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">Performs 1‟s
			complement of the operand</P>
		</TD>
		<TD WIDTH=117 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">~x = -6</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=26 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">&lt;&lt;</P>
		</TD>
		<TD WIDTH=391 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">Performs left
			shift of the left operand by n number of times</P>
		</TD>
		<TD WIDTH=117 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">x&lt;&lt;2 = 20</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=25 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">&gt;&gt;</P>
		</TD>
		<TD WIDTH=391 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">Performs right
			shift of the left operand by n number of times</P>
		</TD>
		<TD WIDTH=117 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.06in">x&gt;&gt;1 = 2</P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in"><I>Note: In above
examples, x = 5 , y = 1</I></P>
<P CLASS="western"><BR>
</P>
<H4 CLASS="western" STYLE="margin-top: 0.12in"><FONT COLOR="#4f81bc">Logical
Operators</FONT></H4>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in">Following are various
logical operators available in Python:</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<TABLE WIDTH=612 CELLPADDING=1 CELLSPACING=0>
	<COL WIDTH=96>
	<COL WIDTH=351>
	<COL WIDTH=157>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=23 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in"><B>Operator</B></P>
		</TD>
		<TD WIDTH=351 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in"><B>Description</B></P>
		</TD>
		<TD WIDTH=157 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in"><B>Example</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=41 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">and</P>
		</TD>
		<TD WIDTH=351 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">If both left
			side and right side expressions are true, it returns true.
			Otherwise, false.</P>
		</TD>
		<TD WIDTH=157 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">True and True is
			True</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=41 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">or</P>
		</TD>
		<TD WIDTH=351 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-right: 0.1in; margin-top: 0.05in">
			If either or both of left side and right side expressions are
			true, it returns true. Otherwise, false.</P>
		</TD>
		<TD WIDTH=157 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">True or False is
			True</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=40 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">not</P>
		</TD>
		<TD WIDTH=351 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">If expression
			evaluates to true, it returns false or if the expression evaluates
			to false, it returns true.</P>
		</TD>
		<TD WIDTH=157 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">not True is
			False</P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western"><BR>
</P>
<H4 CLASS="western" STYLE="margin-top: 0.12in"><FONT COLOR="#4f81bc">Membership
Operators</FONT></H4>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.06in; page-break-before: always">
Following are the membership operators available in Python:</P>
<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in"><BR><BR>
</P>
<TABLE WIDTH=612 CELLPADDING=1 CELLSPACING=0>
	<COL WIDTH=96>
	<COL WIDTH=351>
	<COL WIDTH=157>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=33 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.1in"><B>Operator</B></P>
		</TD>
		<TD WIDTH=351 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.1in"><B>Description</B></P>
		</TD>
		<TD WIDTH=157 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.1in"><B>Example</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=41 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">in</P>
		</TD>
		<TD WIDTH=351 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-right: 0.1in; margin-top: 0.05in">
			Evaluates to true if it finds a variable or value in the given
			sequence. Otherwise, it returns true.</P>
		</TD>
		<TD WIDTH=157 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">y in x is True</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=40 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">not in</P>
		</TD>
		<TD WIDTH=351 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">Evaluates to
			true if it doesn‟t find a variable or value in the given
			sequence. Otherwise, it returns false.</P>
		</TD>
		<TD WIDTH=157 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">y not in x is
			False</P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in"><I>Note: In above
examples, x = [1,2,3,4,5,6] , y = 2</I></P>
<P CLASS="western"><BR>
</P>
<H4 CLASS="western" STYLE="margin-top: 0.12in"><FONT COLOR="#4f81bc">Identity
Operators</FONT></H4>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in">Following are the
identity operators available in Python:</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<TABLE WIDTH=612 CELLPADDING=1 CELLSPACING=0>
	<COL WIDTH=96>
	<COL WIDTH=351>
	<COL WIDTH=157>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=33 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.1in"><B>Operator</B></P>
		</TD>
		<TD WIDTH=351 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.1in"><B>Description</B></P>
		</TD>
		<TD WIDTH=157 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.1in"><B>Example</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=41 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">is</P>
		</TD>
		<TD WIDTH=351 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.05in">Evaluates to
			true if both the variables point to the same object in memory.</P>
		</TD>
		<TD WIDTH=157 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">x is y returns
			True</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=96 HEIGHT=40 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">is not</P>
		</TD>
		<TD WIDTH=351 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-right: 0.1in; margin-top: 0.05in">
			Evaluates to true if both the variables does not point to the same
			object in memory</P>
		</TD>
		<TD WIDTH=157 STYLE="border: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.01in; padding-right: 0in">
			<P STYLE="margin-left: 0.1in; margin-top: 0.14in">x is not y
			returns False</P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in"><I>Note: In above
examples, x = 10, y = x</I></P>
{%endblock course%}
