<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='container.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Arvo|Cagliostro|Dancing+Script|Dosis|Gloria+Hallelujah|IBM+Plex+Sans+Condensed|Indie+Flower|Josefin+Sans|Karla|Lobster|Mina|Nanum+Gothic|Open+Sans|Pacifico|Roboto|Roboto+Condensed|Shadows+Into+Light|Signika|Yanone+Kaffeesatz" rel="stylesheet">
  </head>
  <body>

    <nav>
      <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
      </div>
    <div class="logo">
        <div class="logo-img">
          <img src="{{url_for('static',filename="i.png")}}" height="60px" width="60px">
        </div>
    </div>

      <div class="menu">
        <ul>
          <li><a href="index">Home</a></li>
          <li><a href="courses">courses</a></li>
          <li><a href="forum">forums</a></li>
          <li><a href="signup">Sign Up </a></li>

        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="sidebar">
        {%for py in topics%}
        <a href="{{py.get('url')}}">
        <div class="topic">
          {{ py.get('topic')}}
        </div>
      </a>
        {%endfor%}
      </div>
      <div class="course">
          {%block course%}
          {%endblock course%}
      </div>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='menu.js')}}"></script>
  </body>
</html>
